html {
  font-family: 'Didact Gothic', sans-serif;
  font-size: 15px;
}

/* heather */

header {
  max-width: 4000px;
  position: fixed;
  top: 0;
  left: 0;
}

div.flex-header {
  display: inline-flex;
}

#JE-logo {
  width: 15%;
  margin: 1rem 0 1rem 1rem;
}

#JE-logo img {
  width: 100%;

}

#JE-title {
  width: 75%;
  margin: .5rem 0 1rem 1.5rem;
  display: flex;
  align-items: center;
}

#JE-title h1 {
  font-family: 'Didact Gothic', sans-serif;
  font-size: 3rem;
}

#JE-favs {
  width: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 1rem 1rem 0;
}

#JE-favs i {
  font-size: 2rem;
  color: black;
}

section.conteiner {
  width: 2500px;
  height: 750px;
  margin-top: 25px;
}

/* Background Metro Traks */

section#background-metromap {
  background-image: url(../images/MetroTracks-2500x750.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

text {
  font-family: 'Didact Gothic', sans-serif;
}

#subtitle text {
  font-size: 2rem;
}

#copyright text {
  font-size: 1rem;
}


.keyInfo text {
  font-size: 20px;
  text-anchor: start;
}

text#keyTitle {
  fill: white;
  text-anchor: middle;
}

/* hoover */

/* life line */

#lic-arte-pr:hover,
#lic-tecno-pr:hover,
#lic-ct:hover,
#lic-ma:hover {
stroke-width: 2.5;
fill: #fce5ab;
}

  /* Travels */



/* educational line */

#elementary-school:hover,
#middle-school:hover {
  r: 1.25%;
  fill: #7cbaea;
}


#high-school:hover {
  r: 1.5%;
  fill: #7cbaea;
}

#pd-hets:hover,
#pd-jfk:hover {
  r: .625%;
  fill: #7cbaea;
}

#pd-de1:hover,
#pd-cdata:hover {
  r: .875%;
  fill: #7cbaea;
}

#pd-uprrp:hover,
#pd-de2:hover,
#pd-girlsinc:hover {
  r: .50%;
  fill: #7cbaea;
}

/* professional line */

#greco:hover,
#farmacia:hover,
#cine:hover,
#pizzahut:hover,
#gap:hover,
#anisa:hover,
#practica:hover,
#manualidades:hover,
#escuelaAbierta:hover,
#uprh-ccc:hover {
  r: .20%;
  fill: #f7969a;
}

#antoninos:hover,
#biblioteca:hover {
  r: .875%;
  fill: #f7969a;
}



/* art/design skills line */

#music:hover{
  r: .50%;
  fill: #cde585;
  }

#crafts:hover,
#industrial-arts:hover,
#drafting:hover,
#mechanical:hover,
#artisanal-arts:hover,
#music-app:hover,
#art-app:hover,
#design:hover,
#drawing:hover,
#sculpture:hover,
#painting:hover,
#printmaking:hover,
#photography:hover,
#logos:hover,
#webdesign:hover,
#manuals:hover,
#videos:hover,
#graphs:hover,
#layout:hover,
#brochures:hover,
#flyers:hover,
#envelopes:hover,
#letterheads:hover,
#business-cards:hover,
#typography:hover,
#bookcover:hover,
#postcards:hover,
#posters:hover,
#packaging:hover,
#webdevelopment:hover {
  r: .625%;
  fill: #cde585;
}

#dance:hover,
#architecture:hover,
#art-history:hover {
r: .875%;
fill: #cde585;
}

/* professional skills line */

#coustumer-service:hover,
#managment:hover,
#curriculum:hover,
#classroom:hover,
#assessment:hover,
#educational-technology:hover,
#instructional-design:hover,
#andragogy:hover,
#presentations:hover,
#workshops:hover,
#oline-courses:hover,
#oline-tutorials:hover,
#LMS:hover,
#CMS:hover,
#web2:hover,
#social-media:hover,
#english:hover,
#tech-integration:hover,
#operations:hover,
#second-language:hover,
#spanish-second:hover,
#responsive-classroom:hover,
#adobe:hover,
#networking:hover {
  r: .625%;
  fill: #f9b993;
}

#pedagogy:hover {
  r: .875%;
  fill: #f9b993;
}

/* Tooltips */

  .tooltip {
      cursor: context-menu;
  }

  .tooltip .tooltiptext {
      visibility: hidden;
      transition: .05s;
  }

  .tooltip .tooltiptext::after {
      content: "";
  }

  /* Show the tooltip text when you mouse over the tooltip container */

  .tooltip:hover .tooltiptext {
      visibility: visible;
      opacity: 1;
  }

  text.tooltiptext {
    font-family: 'Didact Gothic', sans-serif;
    font-size: 20px;
    text-anchor: middle;
  }

  text#anchor-start {
    text-anchor: start;
  }

  text#anchor-end {
    text-anchor: end;
  }

/* Modal Box css */

  .modalDialog {
  	position: fixed;
  	font-family: 'Didact Gothic', sans-serif;
  	top: 0;
  	right: 0;
  	bottom: 0;
  	left: 0;
  	background: rgba(0,0,0,0.8);
  	z-index: 99999;
  	opacity:0;
  	-webkit-transition: opacity 200ms ease-in;
  	-moz-transition: opacity 200ms ease-in;
  	transition: opacity 200ms ease-in;
  	pointer-events: none;
  }

  .modalDialog:target {
  	opacity:1;
  	pointer-events: auto;
  }

  div .modal-img-vertical {
  	max-width: 30%;
  	position: relative;
  	margin: 8% auto;
  	padding: 1rem;
  	border-radius: 10px;
  	background: #000;
    color: white;
  }

  div .modal-img {
  	width: 40%;
  	position: relative;
  	margin: 8% auto;
  	padding: 1rem;
  	border-radius: 10px;
  	background: #000;
        color: white;
  }

  .modalDialog img {
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
  }

  div .modal-object {
  	max-width: 600px;
    max-height: 500px;
  	position: relative;
  	margin: 10% auto;
  	padding: 2rem;
  	border-radius: 10px;
  	background: #000;
  }

  .modalDialog object,
  .modalDialog iframe {
    display: block;
    margin: auto;
  }

  div .modal-text {
  	max-width: 700px;
    max-height: 650px;
  	position: relative;
  	margin: 10% auto;
  	padding: 2rem;
  	border-radius: 10px;
  	background: #fff;
  }

  .modalDialog h2,
  .modalDialog h3,
  .modalDialog h4,
  .modalDialog h5 {
    text-align: center;
  }

  .modal-text h2 {
    font-size: 2rem;
    padding-bottom: 0.5rem;
  }

  .modal-text h3 {
    font-size: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .modal-text h4 {
    font-size: 1.25rem;
    font-weight: bold;
    padding-top: .5rem;
    padding-bottom: 0.5rem;
}

  .modal-text ul {
    line-height: 1.5;
    list-style-type: square;
    margin-left: 1rem;
    text-align: justify;
  }

  .modal-text h5,
  .modal-text p,
  .modal-text li {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .close {
  	background: #606061;
  	color: #FFFFFF;
  	line-height: 25px;
  	position: absolute;
  	right: -12px;
  	text-align: center;
  	top: -10px;
  	width: 24px;
  	text-decoration: none;
  	font-weight: bold;
  	-webkit-border-radius: 12px;
  	-moz-border-radius: 12px;
  	border-radius: 12px;
  	-moz-box-shadow: 1px 1px 3px #000;
  	-webkit-box-shadow: 1px 1px 3px #000;
  	box-shadow: 1px 1px 3px #000;
  }

  .close:hover {
    background: #d61f26;
  }

  #tooltipmodal {
    cursor: pointer;
  }
